// collection
.collection {
    &__text {
        position: absolute;
        top: 150px;
        z-index: 10;

        @include media-breakpoint-up(lg) {
            top: 216px;
        }
    }

    &__img {
        @include bg-cover("../images/img1.jpg", 400px, center);

        @include media-breakpoint-up(md) {
            height: 500px;
        }

        @include media-breakpoint-up(xl) {
            height: 864px;
        }
    }
}



// onegear、stripped
.onegear,
.stripped {
    position: relative;

    @include media-breakpoint-up(lg) {
        position: static;
    }
}

.onegear__item,
.stripped__item {
    padding: 15px !important;

    @include media-breakpoint-up(lg) {
        padding: 30px 48px !important;
    }

    @include media-breakpoint-up(xl) {
        padding: 96px 135px !important;
    }
}

.onegear__img {
    width: 100%;
    @include bg-cover("../images/img2.jpg", 400px, center);

    @include media-breakpoint-up(md) {
        height: 500px;
    }

    @include media-breakpoint-up(xl) {
        height: 960px;
    }
}

.stripped__img {
    width: 100%;
    @include bg-cover("../images/img3.jpg", 400px, center);

    @include media-breakpoint-up(md) {
        height: 500px;
    }

    @include media-breakpoint-up(xl) {
        height: 960px;
    }
}

// 按鈕
.arrow__icon {
    width: 61px;
    height: 61px;
    position: absolute;
    right: -61px;
    top: 50%;
    z-index: 11;
}

.readmore__btn {
    @include media-breakpoint-up(lg) {
        width: 150px;
        height: 61px;
        position: absolute;
        left: -150px;
        top: 50%;
        z-index: 10;
    }
}



// commuters
.commuters {
    margin: 52px 15px;

    @include media-breakpoint-up(md) {
        margin: 96px auto;
    }
}



// recommend
.recommend__banner {
    position: relative;
    width: 100%;
    padding-bottom: 77px;
    @include bg-cover("../images/img4.jpg", 400px, center 20%);
    background-attachment: fixed;

    @include media-breakpoint-up(md) {
        height: 640px;
    }
}



// article
.article {
    margin: 52px auto;

    @include media-breakpoint-up(md) {
        margin: 96px auto;
    }

    &__item {
        transition: transform 0.3s;

        &:hover {
            transform: scale(0.8);
            transition: transform 0.3s;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
        }
    }

    &__item__img {
        height: 300px;
        object-fit: cover;

        @include media-breakpoint-up(xl) {
            height: 600px;
        }
    }
}