// js動態增加的效果
.bg-position-left {
    background-position: left;
    transition: all 1s ease;
}

.bg-position-right {
    background-position: right;
    transition: all 1s ease;
}

.translate-left {
    transform: translateX(-110px);
    transition: all 1s ease;
}