/* 全站設定 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:ital,wght@1,900&family=Roboto&display=swap');

// 標題字體統一設定
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather';
    font-style: italic;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    transition: all 0.3s ease;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding: 0;
}