.bg-position-left {
  background-position: left;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.bg-position-right {
  background-position: right;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.translate-left {
  -webkit-transform: translateX(-110px);
  -ms-transform: translateX(-110px);
  transform: translateX(-110px);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
