@mixin text-hidden {
    background-size: contain;
    overflow: hidden;
    text-indent: 101%;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin bg-cover($position) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: $position;
}